<!--<p>header works!</p>-->
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="http://localhost:4200/matches/">FootBet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" [routerLink]="['/matches']" href="http://localhost:4200/matches/">Home</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/login']" href="http://localhost:4200/login">Login</a></li>
                <!--<li class="nav-item"><a class="nav-link" [routerLink]="['/bets-info']"  href="http://localhost:4200/bets-info">Bets Info</a></li>-->
                <li class="nav-item"><a class="nav-link" [routerLink]="['/bets']"  href="http://localhost:4200/bets">Your bets</a></li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Tokens
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Show your current bets
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Your current bets</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <current-bet></current-bet>
            </div>
            <div class="modal-footer">

            </div>
        </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="login()">Login cu Metamask</button>
    <button type="button" class="btn btn-primary" (click)="faucet()">Faucet</button>




<m-web3-modal
  title="Connect to Metamask"
  description="We only support Metamask"
  descriptionGray="Sorry"
  dismissText="Ok do not connect to Metamask"
></m-web3-modal>

</nav>

