<!--<p>header works!</p>-->
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="http://localhost:4200/matches/">FootBet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="http://localhost:4200/matches/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="http://localhost:4200/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="http://localhost:4200/bets-info">Bets Info</a></li>
                <li class="nav-item"><a class="nav-link" href="http://localhost:4200/bets">Your bets</a></li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Tokens
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Show your current bets
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Your current bets</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <current-bet></current-bet>
            </div>
            <div class="modal-footer">
                <form class="form-inline">
                    
                    <div class="form-outline">
                        <input type="number" id="typeNumber" class="form-control" min="10"/>
                        <label class="form-label" for="typeNumber">Number of tokens</label>
                      </div>
                  
                    <button type="submit" class="btn btn-primary mb-2" (click)="setAmount()">Submit</button>
                  </form>
            <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
            <!--<button type="button" class="btn btn-primary">Understood</button>-->
            </div>
        </div>
        </div>
    </div>
</nav>

