<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Team 1</th>
            <th>Team 2</th>
            <th>Date</th>
            <th>Time</th>
            <th>Score</th>
            <th>Instant bet</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let match of matchList">
            <td ><a href = "#">{{ match.team1 }} <img src = "{{ match.img1 }}"></a></td>
            <td><a href = "#">{{ match.team2 }} <img src = "{{ match.img2 }}"></a></td>

            <!--<td ><a href = "# ">{{ match.team1 }} <img src = "{{ match.img1 }}"></a></td>
            <td><a href = "# ">{{ match.team2 }} <img src = "{{ match.img2 }}"></a></td>-->
            <td>{{ match.date }}</td>
            <td>{{ match.time }}</td>
            <td>{{ match.score }}</td>
            <td><div class="btn-group" role="group" aria-label="Basic example">
                <button id = "groupbtn" type="button" class="btn btn-secondary">1</button>
                <button id = "groupbtn" type="button" class="btn btn-secondary">X</button>
                <button id = "groupbtn" type="button" class="btn btn-secondary">2</button>
                </div></td>
        </tr>
    </tbody>
</table>