 
 <!-- Product section-->
 <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                <div class="col-md-6">
                    <div class="small mb-1">


                        <p>Match ID {{matchID}}</p>

                        
                    </div>
                    <h1 class="display-5 fw-bolder">Team 1 vs Team 2</h1>
                    <div class="fs-5 mb-5">
                        <!--<span class="text-decoration-line-through">Data: 10/04/2022</span>-->
                        <span>Date: 10/Apr/2022 Time: 22:53</span>
                        <div> <p>Place a bet</p></div>
                        <div class="d-flex">
                            <div class="form-group">
                                <p> Value:</p>
                                <select class="form-control" id="exampleFormControlSelect1">
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                                <option>60</option>
                                <option>70</option>
                                <option>80</option>
                                <option>90</option>
                                <option>100</option>              
                                </select>
                            </div>
                        
                        </div>
                        <div>
                            <p>Winner:</p>
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1">1</i>
                                
                            </button>
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1">X</i>
                                
                            </button>
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1">2</i>
                                
                            </button>
                        </div>
                        <div>
                            <p> Confirm: </p>
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>

                    </div>  
                </div>
        
            </div>
                    
        </div>
        
</section>
