<!-- Page content-->

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Home team</th>
            <th>Away team</th>
            <th>Date</th>
            <th>Bet Home</th>
            <th>Bet Draw</th>
            <th>Bet Away</th>
            <th>Instant bet</th>
            <th>Current Bet</th>
        </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let match of matchList">
        <tr *ngIf="match.betAway">
            <td><a routerLink = "matches/{{ match.teamHome.id}}"> {{ match.teamHome.name}} <img src = "{{ match.teamHome.logo }}"></a></td>
            <td><a routerLink = "matches/{{ match.teamAway.id}}"> {{ match.teamAway.name }}<img src = "{{ match.teamAway.logo }}"></a></td>
            <td>{{ match.startDate }}</td>
            <td>{{ match.betHome }}</td>
            <td>{{ match.betDraw }}</td>
            <td>{{ match.betAway }}</td>
            <td><div class="btn-group" role="group" aria-label="Basic example">
                <button id = "groupbtn" type="button" class="btn btn-secondary">1</button>
                <button id = "groupbtn" type="button" class="btn btn-secondary">X</button>
                <button id = "groupbtn" type="button" class="btn btn-secondary">2</button>
                </div></td>
            <td>placeholder</td>
        </tr>
    </ng-container>
    </tbody>
</table>

