<!-- Page content-->
  
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Home team</th>
            <th>Away team</th>
            <th>Date</th>
            <th>Instant bet</th>
            <th>Odds</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let match of matchList">
            <td><a routerLink = "matches/{{ match.teamHome.id}}"> {{ match.teamHome.name}} <img src = "{{ match.teamHome.logo }}"></a></td>
            <td><a routerLink = "matches/{{ match.teamAway.id}}"> {{ match.teamAway.name }}<img src = "{{ match.teamAway.logo }}"></a></td>
            <td>{{ match.startDate }}</td>
            <td>
                <tr>
                    <td>{{ match.betHome }}</td>
                    <td></td>
                    <td>{{ match.betDraw }}</td>
                    <td></td>
                    <td>{{ match.betAway }}</td>
                </tr> 
            </td>
            
            <td><div class="btn-group" role="group" aria-label="Basic example">
                <button id = "groupbtn" type="button" class="btn btn-secondary">1</button>
                <button id = "groupbtn" type="button" class="btn btn-secondary">X</button>
                <button id = "groupbtn" type="button" class="btn btn-secondary">2</button>
                </div></td>
            <td>placeholder</td>
        </tr>
    </tbody>
</table>

