<!-- Page content-->

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Home team</th>
            <th>Away team</th>
            <th>Date</th>
            <th>Instant bet</th>
            <th>Odds</th>
        </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let fixture of fixtures">
        <tr *ngIf="fixture.betAway">
            <td>{{ fixture.teamHome.name}} <img src = "{{ fixture.teamHome.logo }}" alt="logo"></td>
            <td>{{ fixture.teamAway.name }}<img src = "{{ fixture.teamAway.logo }}" alt="logo"></td>
            <td>{{ fixture.startDate }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button id = "groupbtn1" type="button" class="btn btn-primary" (click)="bet1(fixture, fixture.betHome)">1</button>
                    <button id = "groupbtnx" type="button" class="btn btn-primary" (click)="betX(fixture, fixture.betDraw)">X</button>
                    <button id = "groupbtn2" type="button" class="btn btn-primary" (click)="bet2(fixture, fixture.betAway)">2</button>
                </div>
            </td>
            <td>
                <tr>
                    <td><button type="button" class="btn btn-light" disabled>{{ fixture.betHome }}</button></td>
                    <td></td>
                    <td><button type="button" class="btn btn-light" disabled>{{ fixture.betDraw }}</button></td>
                    <td></td>
                    <td><button type="button" class="btn btn-light" disabled>{{ fixture.betAway }}</button></td>
                </tr>
            </td>
        </tr>
    </ng-container>
    </tbody>
</table>

