<table class="table">
    <thead class="thead-light">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let bet of betList">
            <td ></td>
            <td></td>
            <td>{{ bet.option }}</td>
            <td></td>
            <td></td>
            
            <td>placeholder</td>
        </ng-container>
    </tbody>
</table>

