<table class="table">
    <thead class="thead-light">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bet of Bets">
            <td ></td>
            <td><a routerLink = "Bets/bet.id">{{ bet.matchId }} </a></td>
            <td>{{ bet.option }}</td>
            <td></td>
            <td></td>
            <td><div class="btn-group" role="group" aria-label="Basic example">
                <button id = "groupbtn" type="button" class="btn btn-secondary">1</button>
                <button id = "groupbtn" type="button" class="btn btn-secondary">X</button>
                <button id = "groupbtn" type="button" class="btn btn-secondary">2</button>
                </div></td>
            <td>placeholder</td>
        </tr>
    </tbody>
</table>

