<table class="table">
  <thead class="thead-light">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let betEntry of currentBet.betEntries">
    <tr>
      <td>{{ betEntry.fixture.teamHome.name }}</td>
      <td>{{ betEntry.fixture.teamAway.name }}</td>
      <td>{{ currentBet.multiplier }}</td>
      <td>{{ currentBet.multiplier * currentBet.amount}}</td>
      <td *ngIf="betEntry.winnerHome"> Home</td>
      <td *ngIf="betEntry.winnerAway">Away</td>
      <td *ngIf="!betEntry.winnerAway && !betEntry.winnerHome">Draw</td>

    </tr>

  </ng-container>
  </tbody>
</table>

