<table class="table">
  <thead class="thead-light">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let betEntry of currentBet.betEntries">
    <tr>
      <td>{{ betEntry.fixture.teamHome.name }}</td>
      <td>{{ betEntry.fixture.teamAway.name }}</td>
      <td>{{ betEntry.odds }}</td>
      <td>{{ betEntry.odds * currentBet.amount}}</td>
      <td *ngIf="betEntry.winnerHome"> Home</td>
      <td *ngIf="betEntry.winnerAway">Away</td>
      <td *ngIf="!betEntry.winnerAway && !betEntry.winnerHome">Draw</td>

      <td>
        
  
      </td>
      <td><button><i class="fa-solid fa-trash"></i></button></td>
    </tr>
  </ng-container>
  </tbody>
</table>

<form class="form-inline">
                    
  <div class="form-outline">
      <input type="number" id="typeNumber" class="form-control" min="10"/>
      <label class="form-label" for="typeNumber">Number of tokens</label>
    </div>

  
</form>
<button type="submit" class="btn btn-primary mb-2" (click)="setAmount()">Submit</button>

